<h1>Проверка графа на двудольность и разбиение на две доли</h1>



<p>Пусть дан неориентированный граф. Требуется проверить, является ли он двудольным, т.е. можно ли разделить его вершины на две доли так, чтобы не было рёбер, соединяющих две вершины одной доли. Если граф является двудольным, то вывести сами доли.</p>

<p>Решим эту задачу с помощью <algohref=bfs>поиска в ширину</algohref> за O (M).</p>

<h2>Признак двудольности</h2>

<p>Теорема. Граф является двудольным тогда и только тогда, когда все его простые циклы имеют чётную длину.</p>

<p>Впрочем, с практической точки зрения искать все простые циклы неудобно. Намного проще проверять граф на двудольность следующим алгоритмом:</p>

<h2>Алгоритм</h2>

<p>Произведём серию поисков в ширину. Т.е. будем запускать поиск в ширину из каждой непосещённой вершины. Ту вершину, из которой мы начинаем идти, мы помещаем в первую долю. В процессе поиска в ширину, если мы идём в какую-то новую вершину, то мы помещаем её в долю, отличную от доли текущей вершину. Если же мы пытаемся пройти по ребру в вершину, которая уже посещена, то мы проверяем, чтобы эта вершина и текущая вершина находились в разных долях. В противном случае граф двудольным не является.</p>

<p>По окончании работы алгоритма мы либо обнаружим, что граф не двудолен, либо найдём разбиение вершин графа на две доли.</p>

<h2>Реализация</h2>

<code>int n;

vector &lt; vector&lt;int> > g;

... чтение графа ...



vector&lt;char> part (n, -1);

bool ok = true;

vector&lt;int> q (n);

for (int st=0; st&lt;n; ++st)

	if (part[st] == -1) {

		int h=0, t=0;

		q[t++] = st;

		part[st] = 0;

		while (h&lt;t) {

			int v = q[h++];

			for (size_t i=0; i&lt;g[v].size(); ++i) {

				int to = g[v][i];

				if (part[to] == -1)

					part[to] = !part[v],  q[t++] = to;

				else

					ok &= part[to] != part[v];

			}

		}

	}



puts (ok ? "YES" : "NO");</code>