<h1>Модульное линейное уравнение первого порядка</h1>



<h2>Постановка задачи</h2>

<p>Это уравнение вида:</p>

$$a \cdot x = b \pmod n,$$

<p>где $a, b, n$ - заданные целые числа, $x$ - неизвестное целое число.</p>

<p>Требуется найти искомое значение $x$, лежащее в отрезке $[0; n-1]$ (поскольку на всей числовой прямой, ясно, может существовать бесконечно много решений, которые будут отличаться друг друга на $n \cdot k$, где $k$ - любое целое число). Если решение не единственно, то мы рассмотрим, как получить все решения.</p>



<h2>Решение с помощью нахождения Обратного элемента</h2>

<p>Рассмотрим сначала более простой случай - когда $a$ и $n$ <b>взаимно просты</b>. Тогда можно найти <a href="reverse_element">обратный элемент</a> к числу $a$, и, домножив на него обе части уравнения, получить решение (и оно будет <b>единственным</b>):</p>

$$x = b \cdot a^{-1} \pmod n$$

<p>Теперь рассмотрим случай, когда $a$ и $n$ <b>не взаимно просты</b>. Тогда, очевидно, решение будет существовать не всегда (например, $2 \cdot x = 1 \pmod 4$).</p>

<p>Пусть $g = {\rm gcd(a,n)}$, т.е. их <a href="euclid_algorithm">наибольший общий делитель</a> (который в данном случае больше единицы).</p>

<p>Тогда, если $b$ не делится на $g$, то решения не существует. В самом деле, при любом $x$ левая часть уравнения, т.е. $(a \cdot x) \pmod n$, всегда делится на $g$, в то время как правая часть на него не делится, откуда и следует, что решений нет.</p>

<p>Если же $b$ делится на $g$, то, разделив обе части уравнения на это $g$ (т.е. разделив $a$, $b$ и $n$ на $g$), мы придём к новому уравнению:</p>

$$a^\prime \cdot x = b^\prime \pmod {n^\prime}$$

<p>в котором $a^\prime$ и $n^\prime$ уже будут взаимно просты, а такое уравнение мы уже научились решать. Обозначим его решение через $x^\prime$.</p>

<p>Понятно, что это $x^\prime$ будет также являться и решением исходного уравнения. Однако если $g > 1$, то оно будет <b>не единственным</b> решением. Можно показать, что исходное уравнение будет иметь ровно $g$ решений, и они будут иметь вид:</p>

$$x_i = (x^\prime + i \cdot n^\prime) \pmod n,$$
$$i = 0 \ldots (g-1).$$

<p>Подводя итог, можно сказать, что <b>количество решений</b> линейного модульного уравнения равно либо $g = {\rm gcd(a,n)}$, либо нулю.</p>



<h2>Решение с помощью Расширенного алгоритма Евклида</h2>

<p>Приведём наше модулярное уравнение к диофантову уравнению следующим образом:</p>

$$a \cdot x + n \cdot k = b,$$

<p>где $x$ и $k$ - неизвестные целые числа.</p>

<p>Способ решения этого уравнения описан в соответствующей статье <a href="diofant_2_equation">Линейные диофантовы уравнения второго порядка</a>, и заключается он в применении <a href="extended_euclid_algorithm">Расширенного алгоритма Евклида</a>.</p>

<p>Там же описан и способ получения всех решений этого уравнения по одному найденному решению, и, кстати говоря, этот способ при внимательном рассмотрении абсолютно эквивалентен способу, описанному в предыдущем пункте.</p>