<h1>Функція Ейлера</h1>



<h2>Визначення</h2>

<p>
    <b>Функція Ейлера</b> $\phi (n)$ (інколи позначається як $\varphi(n)$ або ${\it phi}(n)$) - це кількість чисел від $1$ до $n$, взаємно простих з $n$.
    Іншими словами, це кількість таких чисел у відрізку $[1; n]$, для яких <a href="euclid_algorithm">найбільший спільний дільник</a> з $n$
    рівний одиниці.
</p>

<p>Декілька перших значення цієї функції (<a href=https://oeis.org/A000010>A000010 в енциклопедії OEIS</a>):</p>

$$\begin{array}{|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|c|}
\hline
n & 1 & 2 & 3 & 4 & 5 & 6 & 7 & 8 & 9 & 10 & 11 & 12 & 13 & 14 & 15 \\ \hline
\phi(n) & 1 & 1 & 2 & 2 & 4 & 2 & 6 & 4 & 6 & 4 & 10 & 4 & 12 & 6 & 8 \\ \hline
\end{array}$$



<h2>Властивості</h2>

<p>Трьох наступних властивостей функції Ейлера достатньо, щоб навчитися обчислювати її для будь-яких чисел:</p>

<ul>
    <li>
        <p>Якщо $p$ - просте число, то $\phi (p)=p-1$.</p>
        <p>(Оскільки будь-яке число, крім самого $p$, взаємно просте з ним).</p>
    </li>
    <li>
        <p>Якщо $p$ - просте, $a$ - натуральне число, то $\phi (p^a)=p^a-p^{a-1}$.</p>
        <p>(Оскільки з числом $p^a$ не взаємно прості тільки числа виду $pk$ $(k \in \mathcal{N})$, яких $p^a / p = p^{a-1}$ штук).</p>
    </li>
    <li>
        <p>Якщо $a$ і $b$ взаємно прості, то $\phi(ab) = \phi(a) \phi(b)$ ("мультиплікативність" функції Ейлера).</p>
        <p>
            (Цей факт слідує з <a href="chinese_theorem">китайської теореми про остачі</a>.
            Розглянемо довільне число $z \le ab$. Позначимо через $x$ і $y$ залишки від ділення $z$ на $a$ і $b$ відповідно.
            Тоді $z$ взаємно просте з $ab$ тоді і тільки тоді, коли $z$ взаємно просте з $a$ і з $b$ окремо, або, що означає $x$ взаємно просте з $a$, та $y$
            взаємно просте з $b$. Застосовуючи китайську теорему про остачі, отримаємо, що будь-якій парі чисел $x$ і $y$ $(x \le a, ~ y \le b)$ взаємно
            однозначно відповідає число $z$ $(z \le ab)$, що і завершує доведення).
        </p>
    </li>
</ul>

<p>Звідси можна отримати функцію Ейлера для будь-якого $\it n$ через його <b>факторизацію</b> (розкладання $n$ на прості множники):</p>

<p>якщо</p>

$$ n = p_1^{a_1} \cdot p_2^{a_2} \cdot \ldots \cdot p_k^{a_k} $$

<p>(де всі $p_i$ - прості), то</p>

$$ \phi(n) = \phi(p_1^{a_1}) \cdot \phi(p_2^{a_2}) \cdot \ldots \cdot \phi(p_k^{a_k}) = $$
$$ = (p_1^{a_1} - p_1^{a_1-1}) \cdot (p_2^{a_2} - p_2^{a_2-1}) \cdot \ldots \cdot (p_k^{a_k} - p_k^{a_k-1}) = $$
$$ = n \cdot \left( 1-{1\over p_1} \right) \cdot \left( 1-{1\over p_2} \right) \cdot \ldots \cdot \left( 1-{1\over p_k} \right). $$



<h2>Реалізація</h2>

<p>Код, що обчислює функцію Ейлера, факторизуючи число за $O(\sqrt n)$:</p>

{{ format_code('phi.cpp') }}

<p>
    Ключовим моментом при обчисленні функції Ейлера є знаходження <b>факторизації</b> числа $n$. Її можна знайти за час,
    значно менший $O(\sqrt{n})$: див. <a href="factorization">Ефективні алгоритми факторизації</a>.
</p>



<h2>Застосування функції Ейлера</h2>

<p>Найважливіша і найвідоміша властивість функції Ейлера виражається у <b>теоремі Ейлера</b>:</p>
$$ a^{\phi(m)} \equiv 1 \pmod m, $$
<p>де $\it a$ і $\it m$ взаємно прості.</p>

<p>Зокрема, коли $\it m$ просте, теорема Ейлера перетворюється у так звану <b>малу теорему Ферма</b>:</p>
$$ a^{m-1} \equiv 1  \pmod m $$

<p>Теорема Ейлера достатньо часто зустрічається на практиці, наприклад, див. <a href="reverse_element">Обернений елемент в кільці за модулем</a>.</p>



<h2>Задачі</h2>

<p>Список задач, в яких необхідно або обчислити функцію Ейлера, або скористатися теоремою Ейлера, або за значенням функції Ейлера відновити початкове число:</p>

<ul>
    <li>
        <a href=http://uva.onlinejudge.org/index.php?option=onlinejudge&page=show_problem&problem=1120>
            UVA #10179 <b>"Irreducible Basic Fractions"</b> [складність: низька]
        </a>
    </li>
    <li>
        <a href=http://uva.onlinejudge.org/index.php?option=onlinejudge&page=show_problem&problem=1240>
            UVA #10299 <b>"Relatives"</b> [складність: низька]
        </a>
    </li>
    <li>
        <a href=http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=8&page=show_problem&problem=2302>
            UVA #11327 <b>"Enumerating Rational Numbers"</b> [складність: середня]
        </a>
    </li>
    <li>
        <a href=http://acm.timus.ru/problem.aspx?space=1&num=1673>
            TIMUS #1673 <b>"Admission to Exam"</b> [складність: висока]
        </a>
    </li>
</ul>