<h1>Расширенный алгоритм Евклида</h1>





<p>В то время как \algohref=euclid_algorithm{"обычный" алгоритм Евклида} просто находит наибольший общий делитель двух чисел $a$ и $b$, расширенный алгоритм Евклида находит помимо НОД также коэффициенты $x$ и $y$ такие, что:</p>



$$a \cdot x + b \cdot y = {\rm gcd} (a, b).$$



<p>Т.е. он находит коэффициенты, с помощью которых НОД двух чисел выражается через сами эти числа.</p>





<h2>Алгоритм</h2>



<p>Внести вычисление этих коэффициентов в алгоритм Евклида несложно, достаточно вывести формулы, по которым они меняются при переходе от пары $(a,b)$ к паре $(b\%a,a)$ (знаком процента мы обозначаем взятие остатка от деления).</p>



<p>Итак, пусть мы нашли решение $(x_1,y_1)$ задачи для новой пары $(b\%a,a)$:</p>



$$ (b \% a) \cdot x_1 + a \cdot y_1 = g, $$



<p>и хотим получить решение $(x,y)$ для нашей пары $(a,b)$:</p>



$$ a \cdot x + b \cdot y = g. $$



<p>Для этого преобразуем величину $b \% a$:</p>



$$ b \% a = b - \left\lfloor \frac{b}{a} \right\rfloor \cdot a. $$



<p>Подставим это в приведённое выше выражение с $x_1$ и $y_1$ и получим:</p>



$$ g = (b \% a) \cdot x_1 + a \cdot y_1 = \left( b - \left\lfloor \frac{b}{a} \right\rfloor \cdot a \right) \cdot x_1 + a \cdot y_1, $$



<p>и, выполняя перегруппировку слагаемых, получаем:</p>



$$ g = b \cdot x_1 + a \cdot \left( y_1 - \left\lfloor \frac{b}{a} \right\rfloor \cdot x_1 \right). $$



<p>Сравнивая это с исходным выражением над неизвестными $x$ и $y$, получаем требуемые выражения:</p>



$$ \cases{

x = y_1 - \left\lfloor \frac{b}{a} \right\rfloor \cdot x_1, \cr

y = x_1.

} $$





<h2>Реализация</h2>



\code



int gcd (int a, int b, int & x, int & y) {

	if (a == 0) {

		x = 0; y = 1;

		return b;

	}

	int x1, y1;

	int d = gcd (b%a, a, x1, y1);

	x = y1 - (b / a) * x1;

	y = x1;

	return d;

}

\endcode



<p>Это рекурсивная функция, которая по-прежнему возвращает значение НОД от чисел $a$ и $b$, но помимо этого - также искомые коэффициенты $x$ и $y$ в виде параметров функции, передающихся по ссылкам.</p>



<p>База рекурсии - случай $a = 0$. Тогда НОД равен $b$, и, очевидно, требуемые коэффициенты $x$ и $y$ равны $0$ и $1$ соответственно. В остальных случаях работает обычное решение, а коэффициенты пересчитываются по вышеописанным формулам.</p>



<p>Расширенный алгоритм Евклида в такой реализации работает корректно даже для отрицательных чисел.</p>





<h2>Литература</h2>



<ul>

<li>\book{Томас Кормен, Чарльз Лейзерсон, Рональд Ривест, Клиффорд Штайн}{Алгоритмы: Построение и анализ}{2005}{cormen.djvu}</li>

</ul>