<h1>Кратчайшие пути фиксированной длины, количества путей фиксированной длины</h1>

<p>Ниже описываются решения этих двух задач, построенные на одной и той же идее: сведение задачи к возведению матрицы в степень (с обычной операцией умножения, и с модифицированной).</p>


<h2>Количество путей фиксированной длины</h2>

<p>Пусть задан ориентированный невзвешенный граф $G$ с $n$ вершинами, и задано целое число $k$. Требуется для каждой пары вершин $i$ и $j$ найти количество путей между этими вершинами, состоящих ровно из $k$ рёбер. Пути при этом рассматриваются произвольные, не обязательно простые (т.е. вершины могут повторяться сколько угодно раз).</p>

<p>Будем считать, что граф задан <b>матрицей смежности</b>, т.е. матрицей $g[][]$ размера $n \times n$, где каждый элемент $g[i][j]$ равен единице, если между этими вершинами есть ребро, и нулю, если ребра нет. Описываемый ниже алгоритм работает и в случае наличия кратных рёбер: если между какими-то вершинами $i$ и $j$ есть сразу $m$ рёбер, то в матрицу смежности следует записать это число $m$. Также алгоритм корректно учитывает петли в графе, если таковые имеются.</p>

<p>Очевидно, что в таком виде <b>матрица смежности</b> графа является <b>ответом на задачу при $k=1$</b> - она содержит количества путей длины $1$ между каждой парой вершин.</p>

<p>Решение будем строить <b>итеративно</b>: пусть ответ для некоторого $k$ найден, покажем, как построить его для $k+1$. Обозначим через $d_k$ найденную матрицу ответов для $k$, а через $d_{k+1}$ - матрицу ответов, которую необходимо построить. Тогда очевидна следующая формула:</p>

$$ d_{k+1}[i][j] = \sum_{p = 1}^{n} d_k[i][p] \cdot g[p][j]. $$

<p>Легко заметить, что записанная выше формула - не что иное, как произведение двух матриц $d_k$ и $g$ в самом обычном смысле:</p>

$$ d_{k+1} = d_k \cdot g. $$

<p>Таким образом, <b>решение</b> этой задачи можно представить следующим образом:</p>

$$ d_k = \underbrace{ g \cdot \ldots \cdot g}_{k\ {\rm times}} = g^k. $$

<p>Осталось заметить, что возведение матрицы в степень можно произвести эффективно с помощью алгоритма \algohref=binary_pow{<b>Бинарного возведения в степень</b>}.</p>

<p>Итак, полученное решение имеет асимптотику $O(n^3 \log k)$ и заключается в бинарном возведении в $k$-ую степень матрицы смежности графа.</p>


<h2>Кратчайшие пути фиксированной длины</h2>

<p>Пусть задан ориентированный взвешенный граф $G$ с $n$ вершинами, и задано целое число $k$. Требуется для каждой пары вершин $i$ и $j$ найти длину кратчайшего пути между этими вершинами, состоящего ровно из $k$ рёбер.</p>

<p>Будем считать, что граф задан <b>матрицей смежности</b>, т.е. матрицей $g[][]$ размера $n \times n$, где каждый элемент $g[i][j]$ содержит длину ребра из вершины $i$ в вершину $j$. Если между какими-то вершинами ребра нет, то соответствующий элемент матрицы считаем равным бесконечности $\infty$.</p>

<p>Очевидно, что в таком виде <b>матрица смежности</b> графа является <b>ответом на задачу при $k=1$</b> - она содержит длины кратчайших путей между каждой парой вершин, или $\infty$, если пути длины $1$ не существует.</p>

<p>Решение будем строить <b>итеративно</b>: пусть ответ для некоторого $k$ найден, покажем, как построить его для $k+1$. Обозначим через $d_k$ найденную матрицу ответов для $k$, а через $d_{k+1}$ - матрицу ответов, которую необходимо построить. Тогда очевидна следующая формула:</p>

$$ d_{k+1}[i][j] = \min_{p = 1 \ldots n} ( d_k[i][p] + g[p][j] ). $$

<p>Внимательно посмотрев на эту формулу, легко провести аналогию с матричным умножением: фактически, матрица $d_k$ умножается на матрицу $g$, только в операции умножения вместо суммы по всем $p$ берётся минимум по всем $p$:</p>

$$ d_{k+1} = d_k \odot g, $$

<p>где операция $\odot$ умножения двух матриц определяется следующим образом:</p>

$$ A \odot B = C \ \ \Longleftrightarrow\ \  C_{ij} = \min_{p=1 \ldots n} (A_{ip} + B_{pj}). $$

<p>Таким образом, <b>решение</b> этой задачи можно представить с помощью этой операции умножения следующим образом:</p>

$$ d_k = \underbrace{ g \odot \ldots \odot g}_{k\ {\rm times}} = g^{\odot k}. $$

<p>Осталось заметить, что возведение в степень с этой операцией умножения можно произвести эффективно с помощью алгоритма \algohref=binary_pow{<b>Бинарного возведения в степень</b>}, поскольку единственное требуемое для него свойство - ассоциативность операции умножения - очевидно, имеется.</p>

<p>Итак, полученное решение имеет асимптотику $O(n^3 \log k)$ и заключается в бинарном возведении в $k$-ую степень матрицы смежности графа с изменённой операцией умножения матриц.</p>


<h2>Обобщение на случай, когда требуются пути длины, не более чем заданная длина</h2>

<p>Описанные выше решения решают задачи, когда требуется рассматривать пути определённой, фиксированной длины. Однако эти же решения можно приспособить и для решения задач, когда требуется рассматривать пути, содержащие <b>не более</b> чем заданное число рёбер.</p>

<p>Сделать это можно, немного модифицировав входной граф. Например, если нас интересуют только пути, заканчивающиеся в определённой вершине $t$, то в граф можно <b>добавить петлю</b> $(t,t)$ нулевого веса.</p>

<p>Если же нас по-прежнему интересуют ответы для всех пар вершин, то простое добавление петель ко всем вершинам испортит ответ. Вместо этого можно <b>раздвоить</b> каждую вершину: для каждой вершины $v$ создать дополнительную вершину $v'$, провести ребро $(v,v')$ и добавить петлю $(v',v')$.</p>

<p>Решив на модифицированном графе задачу о поиске путей фиксированной длины, ответы на исходную задачу будут получаться как ответы между вершинами $i$ и $j'$ (т.е. дополнительные вершины - это вершины-окончания, в которых мы можем "покрутиться" нужное число раз).</p>


