<h1>Центры тяжести многоугольников и многогранников</h1>

<b>Центром тяжести</b> (или <b>центром масс</b>) некоторого тела называется точка, обладающая тем свойством, что если подвесить тело за эту точку, то оно будет сохранять свое положение.

<p>Ниже рассмотрены двумерные и трёхмерные задачи, связанные с поиском различных центров масс - в основном с точки зрения вычислительной геометрии.</p>

<p>В рассмотренных ниже решениях можно выделить два основных <b>факта</b>. Первый - что центр масс системы материальных точек равен среднему их координат, взятых с коэффициентами, пропорциональными их массам. Второй факт - что если мы знаем центры масс двух непересекающихся фигур, то центр масс их объединения будет лежать на отрезке, соединяющем эти два центра, причём он будет делить его в то же отношении, как масса второй фигуры относится к массе первой.</p>


<h2>Двумерный случай: многоугольники</h2>

<p>На самом деле, говоря о центре масс двумерной фигуры, можно иметь в виду одну из трёх следующих <b>задач</b>:</p>

<ul>
<li>Центр масс системы точек - т.е. вся масса сосредоточена только в вершинах многоугольника.</li>
<li>Центр масс каркаса - т.е. масса многоугольника сосредоточена на его периметре.</li>
<li>Центр масс сплошной фигуры - т.е. масса многоугольника распределена по всей его площади.</li>
</ul>

<p>Каждая из этих задач имеет самостоятельное решение, и будет рассмотрена ниже отдельно.</p>


<h3>Центр масс системы точек</h3>

<p>Это самая простая из трёх задач, и её решение - известная физическая формула центра масс системы материальных точек:</p>

$$ \vec{r_c} = \frac{ \sum\limits_i \vec{r_i} ~ m_i }{ \sum\limits_i m_i }, $$

<p>где $m_i$ - массы точек, $\vec{r_i}$ - их радиус-векторы (задающие их положение относительно начала координат), и $\vec{r_c}$ - искомый радиус-вектор центра масс.</p>

<p>В частности, если все точки имеют одинаковую массу, то координаты центра масс есть <b>среднее арифметическое</b> координат точек. Для <b>треугольника</b> эта точка называется <b>центроидом</b> и совпадает с точкой пересечения медиан:</p>

$$ \vec{r_c} = \frac{ \vec{r_1} + \vec{r_2} + \vec{r_3} }{ 3 }. $$

<p>Для <b>доказательства</b> этих формул достаточно вспомнить, что равновесие достигается в такой точке $r_c$, в которой сумма моментов всех сил равна нулю. В данном случае это превращается в условие того, чтобы сумма радиус-векторов всех точек относительно точки $r_c$, домноженных на массы соответствующих точек, равнялась нулю:</p>

$$ \sum\limits_i \left( \vec{r_i} - \vec{r_c} \right) m_i = \vec{0}, $$

<p>и, выражая отсюда $\vec{r_c}$, мы и получаем требуемую формулу.</p>


<h3>Центр масс каркаса</h3>

<p>Будем считать для простоты, что каркас однороден, т.е. его плотность везде одна и та же.</p>

<p>Но тогда каждую сторону многоугольника можно заменить одной точкой - серединой этого отрезка (т.к. центр масс однородного отрезка есть середина этого отрезка), с массой, равной длине этого отрезка.</p>

<p>Теперь мы получили задачу о системе материальных точек, и применяя к ней решение из предыдущего пункта, мы находим:</p>

$$ \vec{r_c} = \frac{ \sum\limits_i \vec{r_i^\prime} ~ l_i }{ P }, $$

<p>где $\vec{r_i^\prime}$ - точка-середина $i$-ой стороны многоугольника, $l_i$ - длина $i$-ой стороны, $P$ - периметр, т.е. сумма длин сторон.</p>

<p>Для <b>треугольника</b> можно показать следующее утверждение: эта точка является <b>точкой пересечения биссектрис</b> треугольника, образованного серединами сторон исходного треугольника. (чтобы показать это, надо воспользоваться приведённой выше формулой, и затем заметить, что биссектрисы делят стороны получившегося треугольника в тех же соотношениях, что и центры масс этих сторон).</p>


<h3>Центр масс сплошной фигуры</h3>

<p>Мы считаем, что масса распределена по фигуре однородно, т.е. плотность в каждой точке фигуры равна одному и тому же числу.</p>

<h4>Случай треугольника</h4>

<p>Утверждается, что для треугольника ответом будет всё тот же <b>центроид</b>, т.е. точка, образованная средним арифметическим координат вершин:</p>

$$ \vec{r_c} = \frac{ \vec{r_1} + \vec{r_2} + \vec{r_3} }{ 3 }. $$

<h4>Случай треугольника: доказательство</h4>

Приведём здесь элементарное доказательство, не использующее теорию интегралов. 

<p>Первым подобное, чисто геометрическое, доказательство привёл Архимед, но оно было весьма сложным, с большим числом геометрических построений. Приведённое здесь доказательство взято из статьи Apostol, Mnatsakanian "Finding Centroids the Easy Way".</p>

<p>Доказательство сводится к тому, чтобы показать, что центр масс треугольника лежит на одной из медиан; повторяя этот процесс ещё дважды, мы тем самым покажем, что центр масс лежит в точке пересечения медиан, которая и есть центроид.</p>

<p>Разобьём данный треугольник $T$ на четыре, соединив середины сторон, как показано на рисунке:</p>

\img{centroids_1.jpg}

<p>Четыре получившихся треугольника подобны треугольнику $T$ с коэффициентом $1/2$.</p>

<p>Треугольники №1 и №2 вместе образуют параллелограмм, центр масс которого $c_{12}$ лежит в точке пересечения его диагоналей (поскольку это фигура, симметричная относительно обеих диагоналей, а, значит, её центр масс обязан лежать на каждой из двух диагоналей). Точка $c_{12}$ находится посередине общей стороны треугольников №1 и №2, а также лежит на медиане треугольника $T$:</p>

\img{centroids_2.jpg}

<p>Пусть теперь вектор $\vec{r}$ - вектор, проведённый из вершины $A$ к центру масс $c_1$ треугольника №1, и пусть вектор $\vec{m}$ - вектор, проведённый из $A$ к точке $c_{12}$ (которая, напомним, является серединой стороны, на которой она лежит):</p>

\img{centroids_3.jpg}

<p>Наша цель - показать, что вектора $\vec{r}$ и $\vec{m}$ коллинеарны.</p>

<p>Обозначим через $c_3$ и $c_4$ точки, являющиеся центрами масс треугольников №3 и №4. Тогда, очевидно, центром масс совокупности этих двух треугольников будет точка $c_{34}$, являющаяся серединой отрезка $c_3 c_4$. Более того, вектор от точки $c_{12}$ к точке $c_{34}$ совпадает с вектором $\vec{r}$.</p>

<p>Искомый центр масс $c$ треугольника $T$ лежит посередине отрезка, соединяющего точки $c_{12}$ и $c_{34}$ (поскольку мы разбили треугольник $T$ на две части равных площадей: №1-№2 и №3-№4):</p>

\img{centroids_4.jpg}

<p>Таким образом, вектор от вершины $A$ к центроиду $c$ равен $\vec{m} + \vec{r}/2$. С другой стороны, т.к. треугольник №1 подобен треугольнику $T$ с коэффициентом $1/2$, то этот же вектор равен $2 \vec{r}$. Отсюда получаем уравнение:</p>

$$ \vec{m} + \vec{r}/2 = 2 \vec{r}, $$

<p>откуда находим:</p>

$$ \vec{r} = \frac{2}{3} \vec{m}. $$

<p>Таким образом, мы доказали, что вектора $\vec{r}$ и $\vec{m}$ коллинеарны, что и означает, что искомый центроид $c$ лежит на медиане, исходящей из вершины $A$.</p>

<p>Более того, попутно мы доказали, что центроид делит каждую медиану в отношении $2:1$, считая от вершины.</p>



<h4>Случай многоугольника</h4>

<p>Перейдём теперь к общему случаю - т.е. к случаю <b>мноугоугольника</b>. Для него такие рассуждения уже неприменимы, поэтому сведём задачу к треугольной: а именно, разобьём многоугольник на треугольники (т.е. триангулируем его), найдём центр масс каждого треугольника, а затем найдём центр масс получившихся центров масс треугольников.</p>

<p>Окончательная формула получается следующей:</p>

$$ \vec{r_c} = \frac{ \sum\limits_i \vec{r_i^\circ} ~ S_i }{ S }, $$

<p>где $\vec{r_i^\circ}$ - центроид $i$-го треугольника в триангуляции заданного многоугольника, $S_i$ - площадь $i$-го треугольника триангуляции, $S$ - площадь всего многоугольника.</p>

<p>Триангуляция выпуклого многоугольника - тривиальная задача: для этого, например, можно взять треугольники $(r_1,r_{i-1},r_i)$, где $i = 3 \ldots n$.</p>

<h4>Случай многоугольника: альтернативный способ</h4>

<p>С другой стороны, применение приведённой формулы не очень удобно для <b>невыпуклых многоугольников</b>, поскольку произвести их триангуляцию - сама по себе непростая задача. Но для таких многоугольников можно придумать более простой подход. А именно, проведём аналогию с тем, как можно искать площадь произвольного многоугольника: выбирается произвольная точка $z$, а затем суммируются знаковые площади треугольников, образованных этой точкой и точками многоугольника: $S = |\sum_{i=1}^n S_{z,p_i,p_{i+1}}|$. Аналогичный приём можно применить и для поиска центра масс: только теперь мы будем суммировать центры масс треугольников $(z,p_i,p_{i+1})$, взятых с коэффициентами, пропорциональными их площадям, т.е. итоговая формула для центра масс такова:</p>

$$ \vec{r_c} = \frac{ \sum\limits_i {\vec r}_{z,p_i,p_{i+1}}^\circ ~ S_{z,p_i,p_{i+1}} }{ S }, $$

<p>где $z$ - произвольная точка, $p_i$ - точки многоугольника, ${\vec r}_{z,p_i,p_{i+1}}^\circ$ - центроид треугольника $(z,p_i,p_{i+1})$, $S_{z,p_i,p_{i+1}}$ - знаковая площадь этого треугольника, $S$ - знаковая площадь всего многоугольника (т.е. $S = \sum_{i=1}^{n} S_{z,p_i,p_{i+1}}$).</p>


<h2>Трёхмерный случай: многогранники</h2>

<p>Аналогично двумерному случаю, в 3D можно говорить сразу о четырёх возможных постановках задачи:</p>

<ul>
<li>Центр масс системы точек - вершин многогранника.</li>
<li>Центр масс каркаса - рёбер многогранника.</li>
<li>Центр масс поверхности - т.е. масса распределена по площади поверхности многогранника.</li>
<li>Центр масс сплошного многогранника - т.е. масса распределена по всему многограннику.</li>
</ul>


<h3>Центр масс системы точек</h3>

<p>Как и в двумерном случае, мы можем применить физическую формулу и получить тот же самый результат:</p>

$$ \vec{r_c} = \frac{ \sum\limits_i \vec{r_i} ~ m_i }{ \sum\limits_i m_i }, $$

<p>который в случае равных масс превращается в среднее арифметическое координат всех точек.</p>


<h3>Центр масс каркаса многогранника</h3>

<p>Аналогично двумерному случаю, мы просто заменяем каждое ребро многогранника материальной точкой, расположенной посередине этого ребра, и с массой, равной длине этого ребра. Получив задачу о материальных точках, мы легко находим её решение как взвешенную сумму координат этих точек.</p>


<h3>Центр масс поверхности многогранника</h3>

<p>Каждая грань поверхности многогранника - двухмерная фигура, центр масс которой мы умеем искать. Найдя эти центры масс и заменив каждую грань её центром масс, мы получим задачу с материальными точками, которую уже легко решить.</p>


<h3>Центр масс сплошного многогранника</h3>

<h4>Случай тетраэдра</h4>

<p>Как и в двумерном случае, решим сначала простейшую задачу - задачу для тетраэдра.</p>

<p>Утверждается, что центр масс тетраэдра совпадает с точкой пересечения его медиан (медианой тетраэдра называется отрезок, проведённый из его вершины в центр масс противоположной грани; таким образом, медиана тетраэдра проходит через вершину и через точку пересечения медиан треугольной грани).</p>

<p>Почему это так? Здесь верны рассуждения, аналогичные двумерному случаю: если мы рассечём тетраэдр на два тетраэдра с помощью плоскости, проходящей через вершину тетраэдра и какую-нибудь медиану противоположной грани, то оба получившихся тетраэдра будут иметь одинаковый объём (т.к. треугольная грань разобьётся медианой на два треугольника равной площади, а высота двух тетраэдров не изменится). Повторяя эти рассуждения несколько раз, получаем, что центр масс лежит на точке пересечения медиан тетраэдра.</p>

<p>Эта точка - точка пересечения медиан тетраэдра - называется его <b>центроидом</b>. Можно показать, что она на самом деле имеет координаты, равные среднему арифметическому координат вершин тетраэдра:</p>

$$ \vec{r_c} = \frac{ \vec{r_1} + \vec{r_2} + \vec{r_3} + \vec{r_4} }{ 4 }. $$

(это можно вывести из того факта, что центроид делит медианы в отношении $1:3$)

<p>Таким образом, между случаями тетраэдра и треугольника принципиальной разницы нет: точка, равная среднему арифметическому вершин, является центром масс сразу в двух постановках задачи: и когда массы находится только в вершинах, и когда массы распределены по всей площади/объёму. На самом деле, этот результат обобщается на произвольную размерность: центр масс произвольного <b>симплекса</b> (simplex) есть среднее арифметическое координат его вершин.</p>

<h4>Случай произвольного многогранника</h4>

<p>Перейдём теперь к общему случаю - случаю произвольного многогранника.</p>

<p>Снова, как и в двумерном случае, мы производим сведение этой задачи к уже решённой: разбиваем многогранник на тетраэдры (т.е. производим его тетраэдризацию), находим центр масс каждого из них, и получаем окончательный ответ на задачу в виде взвешенной суммы найденных центров масс.</p>

