<h1>Задача Джонсона с одним станком</h1>

<p>Это задача составления оптимального расписания обработки $n$ деталей на единственном станке, если $i$-ая деталь обрабатывается на нём за время $t_i$, а за $t$ секунд ожидания до обработки этой детали платится штраф $f_i(t)$.</p>

<p>Таким образом, задача заключается в поиске такого переупорядочения деталей, что следующая величина (размер штрафа) минимальна. Если мы обозначим через $\pi$ перестановку деталей ($\pi_1$ - номер первой обрабатываемой детали, $\pi_2$ - второй, и т.д)., то размер штрафа $f(\pi)$ равен:</p>

$$ F(\pi) = f_{\pi_1}(0) + f_{\pi_2}(t_{\pi_1}) + f_{\pi_3}(t_{\pi_1} + t_{\pi_2}) + \ldots + f_{\pi_n}\left(\sum_{i=1}^{n-1} t_{\pi_i}\right). $$

<p>Иногда эта задача называется задачей однопроцессорного обслуживания множества заявок.</p>



<h2>Решение задачи в некоторых частных случаях</h2>


<h3>Первый частный случай: линейные функции штрафа</h3>

<p>Научимся решать эту задачу в случае, когда все $f_i(t)$ линейны, т.е. имеют вид:</p>

$$ f_i(t) = c_i \cdot t, $$

<p>где $c_i$ - неотрицательные числа. Заметим, что в этих линейных функциях свободный член равен нулю, т.к. в противном случае к ответу сразу можно прибавить этот свободный член, и решать задачу с нулевым свободным членом.</p>

<p>Зафиксируем некоторое расписание - перестановку $\pi$. Зафиксируем какой-то номер $i=1 \ldots n-1$, и пусть перестановка $\pi^\prime$ равна перестановке $\pi$, в которой обменяли $i$-ый и $i+1$-ый элементы. Посмотрим, на сколько при этом изменился штраф:</p>

$$ F(\pi^\prime) - F(\pi) = $$

<p>легко понять, что изменения произошли только с $i$-ым и $i+1$-ым слагаемыми:</p>

$$ = c_{\pi^\prime_i} \cdot \sum_{k=1}^{i-1} t_{\pi^\prime_k} + c_{\pi^\prime_{i+1}} \cdot \sum_{k=1}^{i} t_{\pi^\prime_k} - c_{\pi_i} \cdot \sum_{k=1}^{i-1} t_{\pi_k} - c_{\pi_{i+1}} \cdot \sum_{k=1}^{i} t_{\pi_k} = $$
$$ = c_{\pi_{i+1}} \cdot \sum_{k=1}^{i-1} t_{\pi^\prime_k} + c_{\pi_i} \cdot \sum_{k=1}^{i} t_{\pi_k^\prime} - c_{\pi_i} \cdot \sum_{k=1}^{i-1} t_{\pi_k} - c_{\pi_{i+1}} \cdot \sum_{k=1}^{i} t_{\pi_k} = $$
$$ = c_{\pi_i} \cdot t_{\pi_{i+1}} - c_{\pi_{i+1}} \cdot t_{\pi_i}. $$

<p>Понятно, что если расписание $\pi$ является оптимальным, то любое его изменение приводит к увеличению штрафа (или сохранению прежнего значения), поэтому для оптимального плана можно записать условие:</p>

$$ \forall i=1 \ldots n-1 ~~~:~~ c_{\pi_i} \cdot t_{\pi_{i+1}} - c_{\pi_{i+1}} \cdot t_{\pi_i} \ge 0. $$

<p>Преобразуя, получаем:</p>

$$ \forall i=1 \ldots n-1 ~~~:~~ \frac{ c_{\pi_i} }{ t_{\pi_i} } \ge \frac{ c_{\pi_{i+1}} }{ t_{\pi_{i+1}} }. $$

<p>Таким образом, <b>оптимальное расписание</b> можно получить, просто <b>отсортировав</b> все детали по отношению $c_i$ к $t_i$ в обратном порядке.</p>

<p>Следует отметить, что мы получили этот алгоритм так называемым <b>перестановочным приёмом</b>: мы попробовали обменять местами два соседних элемента расписания, вычислили, насколько при этом изменился штраф, и отсюда вывели алгоритм поиска оптимального расписания.</p>


<h3>Второй частный случай: экспоненциальные функции штрафа</h3>

<p>Пусть теперь функции штрафа имеют вид:</p>

$$ f_i(t) = c_i \cdot e^{\alpha \cdot t}, $$

<p>где все числа $c_i$ неотрицательны, константа $\alpha$ положительна.</p>

<p>Тогда, применяя аналогичным образом здесь перестановочный приём, легко получить, что детали надо сортировать в порядке убывания величин:</p>

$$ v_i = \frac{ 1 - e^{ \alpha \cdot t_i } }{ c_i }. $$


<h3>Третий частный случай: одинаковые монотонные функции штрафа</h3>

<p>В этом случае считается, что все $f_i(t)$ совпадают с некоторой функцией $\phi(t)$, которая является возрастающей.</p>

<p>Понятно, что в этом случае оптимально располагать детали в порядке увеличения времени обработки $t_i$.</p>



<h2>Теорема Лившица-Кладова</h2>

<p>Теорема Лившица-Кладова устанавливает, что перестановочный приём применим только для вышеописанных трёх частных случаев, и только них, т.е.:</p>

<ul>
<li>Линейный случай: $f_i(t) = c_i \cdot t + d_i$, где $c_i$ - неотрицательные константы,</li>
<li>Экспоненциальный случай: $f_i(t) = c_i \cdot e^{\alpha \cdot t} + d_i$, где $c_i$ и $\alpha$ - положительные константы,</li>
<li>Тождественный случай: $f_i(t) = \phi(t)$, где $\phi$ - возрастающая функция.</li>
</ul>

<p>Эта теорема доказана в предположении, что функции штрафа являются достаточно гладкими (существуют третьи производные).</p>

<p>Во всех трёх случаях применим перестановочный приём, благодаря которому искомое оптимальное расписание может быть найдено простой сортировкой, следовательно, за время $O(n \log n)$.</p>