<h1>Нахождение площади простого многоугольника</h1>

<p>Пусть дан простой многоугольник (т.е. без самопересечений, но не обязательно выпуклый), заданный координатами своих вершин в порядке обхода по или против часовой стрелки. Требуется найти его площадь.</p>
<h2>Способ 1</h2>
<p>Это легко сделать, если перебрать все рёбра и сложить площади трапеций, ограниченных каждым ребром. Площадь нужно брать с тем знаком, с каким она получится (именно благодаря знаку вся "лишняя" площадь сократится). Т.е. формула такова:</p>
<formula>S += (X2 - X1) * (Y1 + Y2) / 2</formula>
<p>Код:</p>
<code>double sq (const vector&lt;point> & fig)
{
    double res = 0;
    for (unsigned i=0; i&lt;fig.size(); i++)
    {
        point
            p1 = i ? fig[i-1] : fig.back(),
            p2 = fig[i];
        res += (p1.x - p2.x) * (p1.y + p2.y);
    }
    return fabs (res) / 2;
}</code>
<h2>Способ 2</h2>
<p>Можно поступить другим образом. Выберем произвольно точку O, переберём все рёбра, прибавляя к ответу ориентированную площадь треугольника, образованного ребром и точкой O (см. <algohref=oriented_area>Ориентированная площадь треугольника</algohref>). Опять же, благодаря знаку, вся лишняя площадь сократится, и останется только ответ.</p>
<p>Этот способ хорош тем, что его проще обобщить на более сложные случаи (например, когда некоторые стороны - не прямые, а дуги окружности).</p>