<h1>Рёберная связность. Свойства и нахождение</h1>


<h2>Определение</h2>

<p>Пусть дан неориентированный граф $G$ с $n$ вершинами и $m$ рёбрами.</p>

<p><b>Рёберной связностью</b> $\lambda$ графа $G$ называется наименьшее число рёбер, которое нужно удалить, чтобы граф перестал быть связным.</p>

<p>Например, для несвязного графа рёберная связность равна нулю. Для связного графа с единственным мостом рёберная связность равна единице.</p>

<p>Говорят, что множество $S$ рёбер <b>разделяет</b> вершины $s$ и $t$, если при удалении этих рёбер из графа вершины $u$ и $v$ оказываются в разных компонентах связности.</p>

<p>Ясно, что рёберная связность графа равна минимуму от наименьшего числа рёбер, разделяющих две вершины $s$ и $t$, взятому среди всевозможных пар $(s,t)$.</p>


<h2>Свойства</h2>


<h3>Соотношение Уитни</h3>

<p><b>Соотношение Уитни (Whitney)</b> (1932 г). между рёберной связностью $\lambda$, <a href="vertex_connectivity">вершинной связностью</a> $\kappa$ и наименьшей из степеней вершин $\delta$:</p>

$$ \kappa \le \lambda \le \delta. $$

<p><b>Докажем</b> это утверждение.</p>

<p>Докажем сначала первое неравенство: $\kappa \le \lambda$. Рассмотрим этот набор из $\lambda$ рёбер, делающих граф несвязным. Если мы возьмём от каждого из этих ребёр по одному концу (любому из двух) и удалим из графа, то тем самым с помощью $\le \lambda$ удалённых вершин (поскольку одна и та же вершина могла встретиться дважды) мы сделаем граф несвязным. Таким образом, $\kappa \le \lambda$.</p>

<p>Докажем второе неравенство: $\lambda \le \delta$. Рассмотрим вершину минимальной степени, тогда мы можем удалить все $\delta$ смежных с ней рёбер и тем самым отделить эту вершину от всего остального графа. Следовательно, $\lambda \le \delta$.</p>

<p>Интересно, что неравенство Уитни <b>нельзя улучшить</b>: т.е. для любых троек чисел, удовлетворяющих этому неравенству, существует хотя бы один соответствующий граф. См. задачу \algohref=connectivity_back_problem{"Построение графа с указанными величинами вершинной и рёберной связностей и наименьшей из степеней вершин"}.</p>


<h3>Теорема Форда-Фалкерсона</h3>

<p><b>Теорема Форда-Фалкерсона</b> (1956 г).:</p>

<p>Для любых двух вершин наибольшее число рёберно-непересекающихся цепей, соединяющих их, равно наименьшему числу рёбер, разделяющих эти вершины.</p>


<h2>Нахождение рёберной связности</h2>


<h3>Простой алгоритм на основе поиска максимального потока</h3>

<p>Этот способ основан на теореме Форда-Фалекрсона.</p>

<p>Мы должны перебрать все пары вершин $(s,t)$, и между каждой парой найти наибольшее число непересекающихся по рёбрам путей. Эту величину можно найти с помощью алгоритма максимального потока: мы делаем $s$ истоком, $t$ - стоком, а пропускную способность каждого ребра кладём равной 1.</p>

<p>Таким образом, псевдокод алгоритма таков:</p>

\code
int ans = INF;
for (int s=0; s<n; ++s)
    for (int t=s+1; t<n; ++t) {
        int flow = ... величина максимального потока из s в t ...
        ans = min (ans, flow);
    }
\endcode

<p>Асимптотика алгоритма при использовании \edmonds_karp{алгоритма Эдмондса-Карпа нахождения максимального потока} получается $O(n^2 \cdot n m ^2) = O (n^3 m^2)$, однако следует заметить, что скрытая в асимптотике константа весьма мала, поскольку практически невозможно создать такой граф, чтобы алгоритм нахождения максимального потока работал медленно сразу при всех стоках и истоках.</p>

<p>Особенно быстро такой алгоритм будет работать на случайных графах.</p>


<h3>Специальный алгоритм</h3>

<p>Используя потоковую терминологию, данная задача - это задача поиска <b>глобального минимального разреза</b>.</p>

<p>Для её решения разработаны специальные алгоритмы. На данном сайте представлен один из которых - \algohref=stoer_wagner_mincut{алгоритм Штор-Вагнера}, работающий за время $O(n^3)$ или $O(n m)$.</p>



<h2>Литература</h2>

<ul>

<li>Hassler Whitney. <b>Congruent Graphs and the Connectivity of Graphs</b> [1932]</li>

<li>Фрэнк Харари. <b>Теория графов</b> [2003]</li>

</ul>