body {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    margin: 0px;
    padding: 10px;
}

.content {
    background: #ffffff;
    max-width: 1000px;
    margin: 10px auto;
    padding-bottom: 100px;
}

a, a:visited {
    color: #4444aa;
    text-decoration: none;
}

a:hover {
    color: #4444aa;
    text-decoration: underline;
}

hr {
    width: 100%;
    text-align: center;
    color: #dddddd;
    margin: 20px 0px;
    padding: 0px;
}

h1, h2, h3, h4 {
    font-weight: bold;
    text-align: left;
    margin: 0px;
    padding: 5px 0px;
    color: #333;
}

a.headerlink {
    color: #333;
    font-size: 0.75em;
    margin-left: 5px;
}

h1 {
    font-size: 21pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 15pt;
}

h4 {
    font-size: 13pt;
}

p {
    color: #333;
    font-weight: 400;
    margin: 10px 0px;
    padding: 0px;
}

ul {
    margin: 10px 0px;
    padding: 0px 20px;
}

.toc {
    font-size: 14px;
    line-height: 20px;
    margin: 15px 0;
}

.toc ul {
    margin: auto;
}

.codehilite {
    border-radius: 5px;
}

.codehilite pre {
    padding: 5px 10px;
    overflow: auto;
}
