<!DOCTYPE html>
<html>
<head>
    {% include "common.html" %}
</head>
<body>
    <div class="main">
        <h2>Алгебра</h2>
        <h4>прості алгоритми</h4>
        <ul class="catalog">
            <li>
                <a href="page/euler_function">Функція Ейлера</a>
            </li>
            <li>
                <a href="page/binary_pow">Бінарне піднесення в степінь за O(log N)</a>
            </li>
            <li>
                <a href="page/euclid_algorithm">[TODO] Алгоритм Евкліда знаходження НСД (найбільшого спільного дільника)</a>
            </li>
            <li>
                <a href="page/eratosthenes_sieve">[TODO] Решето Ератосфена</a>
            </li>
            <li>
                <a href="page/extended_euclid_algorithm">[TODO] Розширений алгоритм Евкліда</a>
            </li>
            <li>
                <a href="page/fibonacci_numbers">[TODO] Числа Фібоначі та їх швидке обчислення</a>
            </li>
            <li>
                <a href="page/reverse_element">[TODO] Обернений елемент в кільці за модулем</a>
            </li>
            <li>
                <a href="page/gray_code">[TODO] Код Грея</a>
            </li>
            <li>
                <a href="page/big_integer">[TODO] Довга арифметика</a>
            </li>
            <li>
                <a href="page/discrete_log">[TODO] Дискретне логарифмування за модулем M алгоритмом baby-step-giant-step Шенкса за O(sqrt(M) log M)</a>
            </li>
            <li>
                <a href="page/diofant_2_equation">[TODO] Діофантові рівняння з двома невідомими: AX+BY=C</a>
            </li>
            <li>
                <a href="page/diofant_1_equation">[TODO] Модульне лінійне рівняння першого порядку: AX=B</a>
            </li>
            <li>
                <a href="page/chinese_theorem">[TODO] Китайська теорема про остачі. Алгоритм Гарнера</a>
            </li>
            <li>
                <a href="page/factorial_divisors">[TODO] Знаходження степені дільника факторіала</a>
            </li>
            <li>
                <a href="page/balanced_ternary">[TODO] Трійкова збалансована система числення</a>
            </li>
            <li>
                <a href="page/modular_factorial">[TODO] Обчислення факторіала N! за модулем P за O(P log N)</a>
            </li>
            <li>
                <a href="page/all_submasks">[TODO] Перебір всіх підмасок даної маски. Оцінка 3<sup>N</sup> для загальної кількості підмасок всіх масок</a>
            </li>
            <li>
                <a href="page/primitive_root">[TODO] Первісний корінь. Алгоритм знаходження</a>
            </li>
            <li>
                <a href="page/discrete_root">[TODO] Дискретне обчислення кореня</a>
            </li>
            <li>
                <a href="page/prime_sieve_linear">[TODO] Решето Ератосфена з лінійним часом роботи</a>
            </li>
        </ul>
        <h4>складні алгоритми</h4>
        <ul class="catalog">
            <li>
                <a href="page/bpsw">[TODO] Тест BPSW на простоту чисел за O(log N)</a>
            </li>
            <li>
                <a href="page/factorization">[TODO] Ефективні алгоритми факторизації: Поларда p-1, Поларда p, Бента, Поларда Монте-Карло, Ферма</a>
            </li>
            <li>
                <a href="page/fft_multiply">[TODO] Швидке перетворення Фур'є за O(N log N). Застосування при множенні двох поліномів або довгих чисел</a>
            </li>
        </ul>
        <hr>
        <h2>Графи</h2>
        <h4>прості алгоритми</h4>
        <ul class="catalog">
            <li>
                <a href="page/bfs">[TODO] Пошук в ширину</a>
            </li>
            <li>
                <a href="page/dfs">[TODO] Пошук в глибину</a>
            </li>
            <li>
                <a href="page/topological_sort">[TODO] Топологічне сортування</a>
            </li>
            <li>
                <a href="page/connected_components">[TODO] Пошук компонент зв'язності</a>
            </li>
        </ul>
        <h4>компоненти сильної зв'язності, мости і т.д.</h4>
        <ul class="catalog">
            <li>
                <a href="page/strong_connected_components">[TODO] Пошук компонентів сильної зв'язності, побудова каркасу графа за O(N + M)</a>
            </li>
            <li>
                <a href="page/bridge_searching">[TODO] Пошук мостів за O(N + M)</a>
            </li>
            <li>
                <a href="page/cutpoints">[TODO] Пошук точок зчеплення за O(N + M)</a>
            </li>
            <li>
                <a href="page/bridge_searching_online">[TODO] Пошук мостів в режимі онлайн за O(1) в середньому</a>
            </li>
        </ul>
        <h4>найкоротші шляхи з однієї вершини</h4>
        <ul class="catalog">
            <li>
                <a href="page/dijkstra">
                    [TODO] Алгоритм Дейкстри знаходження найкоротших шляхів від заданої вершини до всіх інших вершин за O(N<sup>2</sup> + M)
                </a>
            </li>
            <li>
                <a href="page/dijkstra_sparse">
                    [TODO] Алгоритм Дейкстри для розрідженого графу знаходження найкоротших шляхів від заданої вершини до всіх інших вершин за O(M log N)
                </a>
            </li>
            <li>
                <a href="page/ford_bellman">[TODO] Алгоритм Форда-Беллмана знаходження найкоротших шляхів від заданої вершини до всіх інших вершин за O(N M)</a>
            </li>
            <li>
                <a href="page/levit_algorithm">[TODO] Алгоритм Левіта знаходження найкоротших шляхів від заданої вершини до всіх інших вершин за O(N M)</a>
            </li>
        </ul>
        <h4>найкоротші шляхи між усіма парами вершин</h4>
        <ul class="catalog">
            <li>
                <a href="page/floyd_warshall_algorithm">
                    [TODO] Знаходження найкоротших шляхів між усіма парами вершин графа методом Флойда-Уоршелла за O(N<sup>3</sup>)
                </a>
            </li>
            <li>
                <a href="page/fixed_length_paths">
                    [TODO] Підрахунок кількості шляхів фіксованої довжини між усіма парами вершин, знаходження найкоротших шляхів фіксованої довжини
                    за O(N<sup>3</sup> log K)
                </a>
            </li>
        </ul>
        <h4>мінімальний каркас</h4>
        <ul class="catalog">
            <li>
                <a href="page/mst_prim">[TODO] Мінімальна каркасне дерево. Алгоритм Прима за O(N<sup>2</sup>) і за O(M log N)</a>
            </li>
            <li>
                <a href="page/mst_kruskal">[TODO] Мінімальна каркасне дерево. Алгоритм Крускала за O(M log N + N<sup>2</sup>)</a>
            </li>
            <li>
                <a href="page/mst_kruskal_with_dsu">
                    [TODO] Мінімальна каркасне дерево. Алгоритм Крускала зі структурою даних 'система множин, що не перетинаються' за O(M log N)
                </a>
            </li>
            <li>
                <a href="page/kirchhoff_theorem">[TODO] Матрична теорема Кірхгофа. Знаходження кількості каркасних дерев за O(N<sup>3</sup>)</a>
            </li>
            <li>
                <a href="page/prufer_code_cayley_formula">[TODO] Код Прюфера. Формула Келі. Кількість способів зробити граф зв'язним</a>
            </li>
        </ul>
        <h4>цикли</h4>
        <ul class="catalog">
            <li>
                <a href="page/negative_cycle">[TODO] Знаходження негативного циклу в графі за O(N M)</a>
            </li>
            <li>
                <a href="page/euler_path">[TODO] Знаходження Ейлерового шляху або Ейлерового циклу за O(M)</a>
            </li>
            <li>
                <a href="page/finding_cycle">[TODO] Перевірка графа на ациклічність та знаходження циклу за O(M)</a>
            </li>
        </ul>
        <h4>найменший спільний предок (LCA)</h4>
        <ul class="catalog">
            <li>
                <a href="page/lca">[TODO] Найменший спільний предок. Знаходження за O(sqrt (N)) і O(log N) з препроцесингом O(N)</a>
            </li>
            <li>
                <a href="page/lca_simpler">[TODO] Найменший спільний предок. Знаходження за O(log N) з препроцесингом O(N log N) (метод двійкового підйому)</a>
            </li>
            <li>
                <a href="page/lca_linear">[TODO] Найменший спільний предок. Знаходження за O(1) з препроцесингом O(N) (алгоритм Фарах-Колтона і Бендера)</a>
            </li>
            <li>
                <a href="page/rmq_linear">[TODO] Задача RMQ (Range Minimum Query - мінімум на відрізку). Знаходження за O(1) з препроцесингом O(N)</a>
            </li>
            <li>
                <a href="page/lca_linear_offline">[TODO] Найменший спільний предок. Знаходження за O(1) в режимі офлайн (алгоритм Тар'яна)</a>
            </li>
        </ul>
        <h4>потоки і пов'язані з ними задачі</h4>
        <ul class="catalog">
            <li>
                <a href="page/edmonds_karp">[TODO] Алгоритм Едмондса-Карпа знаходження максимального потоку за O(N M<sup>2</sup>)
                </a>
            </li>
            <li>
                <a href="page/preflow_push">[TODO] Метод проштовхування preflow для знаходження максимального потоку за O(N<sup>4</sup>)</a>
            </li>
            <li>
                <a href="page/preflow_push_faster">[TODO] Модифікація методу проштовхування preflow за O(N<sup>3</sup>)</a>
            </li>
            <li>
                <a href="page/flow_with_limits">[TODO] Потік з обмеженнями</a>
            </li>
            <li>
                <a href="page/min_cost_flow">[TODO] Потік мінімальної вартості (min-cost-flow). Алгоритм шляхів, що збільшуються, за O(N<sup>3</sup> M)</a>
            </li>
            <li>
                <a href="page/assignment_mincostflow">[TODO] Задача про призначення. Рішення з допомогою min-cost-flow за O(N<sup>5</sup>)</a>
            </li>
            <li>
                <a href="page/assignment_hungary">[TODO] Задача про призначення. Угорський алгоритм (алгоритм Куна) за O(N<sup>3</sup>)</a>
            </li>
            <li>
                <a href="page/stoer_wagner_mincut">[TODO] Знаходження мінімального розрізу алгоритмом Штор-Вагнера за O(N<sup>3</sup>)</a>
            </li>
            <li>
                <a href="page/min_cost_flow_negative_cycles">
                    [TODO] Потік мінімальної вартості, циркуляція мінімальної вартості. Алгоритм видалення циклів негативної ваги
                </a>
            </li>
            <li>
                <a href="page/dinic">[TODO] Алгоритм Дініца знаходження максимального потоку</a>
            </li>
        </ul>
        <h4>паросполука і пов'язані з ними задачі</h4>
        <ul class="catalog">
            <li>
                <a href="page/kuhn_matching">[TODO] Алгоритм Куна знаходження найбільшої паросполуки за O(N M)</a>
            </li>
            <li>
                <a href="page/bipartite_checking">[TODO] Перевірка графа на дводольність і розбиття на дві частки за O(M)</a>
            </li>
            <li>
                <a href="page/vertex_weighted_matching">[TODO] Знаходження найбільшої по вазі вершинно-зваженої паросполуки за O(N<sup>3</sup>)</a>
            </li>
            <li>
                <a href="page/matching_edmonds">[TODO] Алгоритм Едмондса знаходження найбільшої паросполуки у довільних графах за O(N<sup>3</sup>)</a>
            </li>
            <li>
                <a href="page/path_cover">[TODO] Покриття шляхами орієнтованого ациклічного графа</a>
            </li>
            <li>
                <a href="page/tutte_matrix">[TODO] Матриця Татта. Рандомізований алгоритм для пошуку максимальної паросполуки у довільному графі</a>
            </li>
        </ul>
        <h4>зв'язність</h4>
        <ul class="catalog">
            <li>
                <a href="page/rib_connectivity">[TODO] Реберна зв'язність. Властивості та знаходження</a>
            </li>
            <li>
                <a href="page/vertex_connectivity">[TODO] Вершинна зв'язність. Властивості та знаходження</a>
            </li>
            <li>
                <a href="page/connectivity_back_problem">
                    [TODO] Побудова графа із зазначеними величинами вершинної та реберної зв'язності і найменшою із степеней вершин
                </a>
            </li>
        </ul>
        <h4>зворотні задачі</h4>
        <ul class="catalog">
            <li>
                <a href="page/inverse_sssp">[TODO] Зворотня задача SSSP (inverse-SSSP - зворотня задача найкоротших шляхів з однієї вершини) за O(M)</a>
            </li>
            <li>
                <a href="page/inverse_mst">[TODO] Зворотня задача MST (inverse-MST - зворотня задача мінімального каркасу) за O(N M<sup>2</sup>)</a>
            </li>
        </ul>
        <h4>різне</h4>
        <ul class="catalog">
            <li>
                <a href="page/tree_painting">[TODO] Розмальовка ребер дерева (структури даних) - рішення за O(log N)</a>
            </li>
            <li>
                <a href="page/2_sat">[TODO] Задача 2-SAT (2-CNF). Рішення за O(N + M)</a>
            </li>
            <li>
                <a href="page/heavy_light">[TODO] Heavy-light декомпозиція</a>
            </li>
        </ul>
        <hr>
        <h2>Геометрія</h2>
        <h4>прості алгоритми</h4>
        <ul class="catalog">
            <li>
                <a href="page/length_of_segments_union">[TODO] Довжина об'єднання відрізків на прямій за O(N log N)</a>
            </li>
            <li>
                <a href="page/oriented_area">[TODO] Знакова площа трикутника і предикат 'За годинниковою стрілкою'</a>
            </li>
            <li>
                <a href="page/segments_intersection_checking">[TODO] Перевірка двох відрізків на перетин</a>
            </li>
            <li>
                <a href="page/segment_to_line">[TODO] Знаходження рівняння прямої для відрізку</a>
            </li>
            <li>
                <a href="page/lines_intersection">[TODO] Знаходження точки перетину двох прямих</a>
            </li>
            <li>
                <a href="page/segments_intersection">[TODO] Знаходження точки перетину двох відрізків</a>
            </li>
            <li>
                <a href="page/polygon_area">[TODO] Знаходження площі простого багатокутника за O(N)</a>
            </li>
            <li>
                <a href="page/pick_grid_theorem">[TODO] Теорема Піка. Знаходження площі решіткового багатокутника за O(1)</a>
            </li>
            <li>
                <a href="page/covering_segments">[TODO] Задача про покриття відрізків точками</a>
            </li>
            <li>
                <a href="page/gravity_center">[TODO] Центри тяжіння багатокутників та багатогранників</a>
            </li>
        </ul>
        <h4>більш складні алгоритми</h4>
        <ul class="catalog">
            <li>
                <a href="page/circle_line_intersection">[TODO] Перетин кола і прямої</a>
            </li>
            <li>
                <a href="page/circles_intersection">[TODO] Перетин двох кіл</a>
            </li>
            <li>
                <a href="page/convex_hull_graham">[TODO] Побудова опуклої оболонки алгоритмом Грехема-Ендрю за O(N log N)</a>
            </li>
            <li>
                <a href="page/triangles_union">[TODO] Знаходження площі об'єднання трикутників. Метод вертикальної декомпозиції</a>
            </li>
            <li>
                <a href="page/pt_in_polygon">[TODO] Перевірка точки на належність опуклому багатокутнику за O(log N)</a>
            </li>
            <li>
                <a href="page/inscribed_circle_ternary">
                    [TODO] Знаходження вписаного кола в опуклому багатокутнику за допомогою тернарного пошуку за O(N log<sup>2</sup> C)
                </a>
            </li>
            <li>
                <a href="page/inscribed_circle">[TODO] Знаходження вписаного кола в опуклому багатокутнику методом стиснення сторін за O(N log N)</a>
            </li>
            <li>
                <a href="page/voronoi_diagram_2d_n4">
                    [TODO] Діаграма Вороного у двовимірному випадку, її властивості, застосування. Найпростіший алгоритм побудови за O(N<sup>4</sup>)
                </a>
            </li>
            <li>
                <a href="page/facets">[TODO] Знаходження всіх граней та зовнішню грань планарного графа за O(N log N)</a>
            </li>
            <li>
                <a href="page/nearest_points">[TODO] Знаходження пари найближчих точок алгоритмом "розділяй та володій" за O(N log N)</a>
            </li>
            <li>
                <a href="page/geometric_inversion">[TODO] Перетворення геометричної інверсії</a>
            </li>
            <li>
                <a href="page/circle_tangents">[TODO] Пошук спільних дотичних для двох кіл</a>
            </li>
            <li>
                <a href="page/intersecting_segments">[TODO] Пошук пари відрізків, що перетинаються, алгоритмом "sweep line" за O(N log N)</a>
            </li>
        </ul>
        <hr>
        <h2>Стрічки</h2>
        <ul class="catalog">
            <li>
                <a href="page/z_function">[TODO] Z-функція стрічки та її обчислення за O(N)</a>
            </li>
            <li>
                <a href="page/prefix_function">[TODO] Префікс-функція, її обчислення та застосування. Алгоритм Кнута-Морріса-Пратта</a>
            </li>
            <li>
                <a href="page/string_hashes">[TODO] Алгоритми хешування у задачах на стрічки</a>
            </li>
            <li>
                <a href="page/rabin_karp">[TODO] Алгоритм Рабіна-Карпа пошуку підстрічки в стрічці за O(N)</a>
            </li>
            <li>
                <a href="page/expressions_parsing">[TODO] Розбір виразів за O(N). Зворотня польська нотація</a>
            </li>
            <li>
                <a href="page/suffix_array">[TODO] Суфіксний масив. Побудова за O(N log N) та застосування</a>
            </li>
            <li>
                <a href="page/suffix_automata">[TODO] Суфіксний автомат. Побудова за O(N) та застосування</a>
            </li>
            <li>
                <a href="page/palindromes_count">[TODO] Знаходження всіх підпаліндромів за O(N)</a>
            </li>
            <li>
                <a href="page/duval_algorithm">
                    [TODO] Декомпозиція Ліндона. Алгоритм Дюваля. Знаходження найменшого циклічного зсуву за O(N) часу та O(1) пам'яті
                </a>
            </li>
            <li>
                <a href="page/aho_corasick">[TODO] Алгоритм Ахо-Корасик</a>
            </li>
            <li>
                <a href="page/ukkonen">[TODO] Суфіксне дерево. Алгоритм Уконена</a>
            </li>
            <li>
                <a href="page/string_tandems">[TODO] Пошук всіх тандемних повторів в стрічках алгоритмом Мейн-Лоренца ("розділяй та володій") за O(N log N)</a>
            </li>
        </ul>
        <hr>
        <h2>Структури даних</h2>
        <ul class="catalog">
            <li>
                <a href="page/sqrt_decomposition">[TODO] Sqrt-декомпозиція</a>
            </li>
            <li>
                <a href="page/fenwick_tree">[TODO] Дерево Фенвіка</a>
            </li>
            <li>
                <a href="page/dsu">[TODO] Система множин, що не перетинаються</a>
            </li>
            <li>
                <a href="page/segment_tree">[TODO] Дерево відрізків</a>
            </li>
            <li>
                <a href="page/treap">[TODO] Декартове дерево (treap, дераміда)</a>
            </li>
            <li>
                <a href="page/stacks_for_minima">[TODO] Модифікація стека і черги для знаходження мінімуму за O(1)</a>
            </li>
            <li>
                <a href="page/randomized_heap">[TODO] Рандомізована куча</a>
            </li>
        </ul>
        <hr>
        <h2>Алгоритми на послідовностях</h2>
        <ul class="catalog">
            <li>
                <a href="page/rmq">[TODO] Задача RMQ (Range Minimum Query - мінімум на відрізку)</a>
            </li>
            <li>
                <a href="page/longest_increasing_subseq_log">[TODO] Знаходження найдовшої зростаючої підпослідовності за O(N<sup>2</sup>) і O(N log N)</a>
            </li>
            <li>
                <a href="page/kth_order_statistics">[TODO] K-а порядкова статистика за O(N)</a>
            </li>
        </ul>
        <hr>
        <h2>Динаміка</h2>
        <ul class="catalog">
            <li>
                <a href="page/profile_dynamics">[TODO] Динаміка по профілю. Задача "паркет"</a>
            </li>
            <li>
                <a href="page/maximum_zero_submatrix">[TODO] Знаходження найбільшої нульової підматриці за O(N M)</a>
            </li>
        </ul>
        <hr>
        <h2>Лінійна алгебра</h2>
        <ul class="catalog">
            <li>
                <a href="page/linear_systems_gauss">[TODO] Метод Гауса рішення системи лінійних рівнянь за O(N<sup>3</sup>)</a>
            </li>
            <li>
                <a href="page/matrix_rank">[TODO] Знаходження рангу матриці за O(N<sup>3</sup>)</a>
            </li>
            <li>
                <a href="page/determinant_gauss">[TODO] Обчислення визначника матриці методом Гауса за O(N<sup>3</sup>)</a>
            </li>
        </ul>
        <hr>
        <h2>Числові методи</h2>
        <ul class="catalog">
            <li>
                <a href="page/simpson_integrating">[TODO] Інтегрування за формулою Сімпсона</a>
            </li>
            <li>
                <a href="page/roots_newton">[TODO] Пошук коренів методом Ньютона (дотичних)</a>
            </li>
            <li>
                <a href="page/ternary_search">[TODO] Тернарний пошук</a>
            </li>
        </ul>
        <hr>
        <h2>Комбінаторика</h2>
        <ul class="catalog">
            <li>
                <a href="page/binomial_coeff">[TODO] Біноміальні коефіцієнти</a>
            </li>
            <li>
                <a href="page/catalan_numbers">[TODO] Числа Каталана</a>
            </li>
            <li>
                <a href="page/necklace_colouring">[TODO] Намиста</a>
            </li>
            <li>
                <a href="page/bishops_arrangement">[TODO] Розміщення слонів на шаховій дошці</a>
            </li>
            <li>
                <a href="page/bracket_sequences">[TODO] Правильні дужкові послідовності. Знаходження лексикографічно наступну, K-у, визначення номера</a>
            </li>
            <li>
                <a href="page/counting_connected_graphs">
                    [TODO] Кількість помічених графів, зв'язаних помічених графів, помічених графів з K компонентами зв'язності
                </a>
            </li>
            <li>
                <a href="page/generating_combinations">[TODO] Генерація сполучень з N елементів</a>
            </li>
            <li>
                <a href="page/burnside_polya">[TODO] Лема Бернсайда. Теорема Пойа</a>
            </li>
            <li>
                <a href="page/inclusion_exclusion_principle">[TODO] Принцип включень-виключень</a>
            </li>
        </ul>
        <hr>
        <h2>Теорія ігор</h2>
        <ul class="catalog">
            <li>
                <a href="page/games_on_graphs">[TODO] Ігри на довільних графах. Метод ретроспективного аналізу за O(M)</a>
            </li>
            <li>
                <a href="page/sprague_grundy">[TODO] Теорія Шпрага-Гранді. Нім</a>
            </li>
        </ul>
        <hr>
        <h2>Розклад</h2>
        <ul class="catalog">
            <li>
                <a href="page/johnson_problem_1">[TODO] Задача Джонсона з одним верстатом</a>
            </li>
            <li>
                <a href="page/johnson_problem_2">[TODO] Задача Джонсона з двома верстатами</a>
            </li>
            <li>
                <a href="page/schedule_with_completion_duration">[TODO] Оптимальний вибір завдань при відомих моментах завершення та тривалостях виконання</a>
            </li>
        </ul>
        <hr>
        <h2>Різне</h2>
        <ul class="catalog">
            <li>
                <a href="page/joseph_problem">[TODO] Задача Йосипа</a>
            </li>
            <li>
                <a href="page/15_puzzle">[TODO] Гра П'ятнашки: існування розв'язку</a>
            </li>
            <li>
                <a href="page/stern_brocot_farey">[TODO] Дерево Штерна-Броко. Ряд Фарея</a>
            </li>
            <li>
                <a href="page/maximum_average_segment">[TODO] Пошук підмасиву з максимальною/мінімальною сумою за O(N)</a>
            </li>
        </ul>
    </div>
</body>
</html>
